<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "io.github.kuroyukidev.gallerytemplate"
    versionCode = "12"
    version     = "1.2.0" >

<!-- versionCode is optional and Android only -->

	<name>Gallery Template</name>

	<description>
		Veiw collections of images.
	</description>

	<author href="https://kuroyukidev.github.io" email="kuroyuki.dev@gmail.com">
		黒雪尊
	</author>
  
	<platform name="android" />
	
</widget>