.gallery {
	margin: 0;
	width: 100%;
	height: auto;
}

.gallery-item {
	height: auto;
	width: 30%;
	margin: 16px 10% 0 10%;
	padding: 5px 5px;
	border: 1px solid black;
}
.gallery-item a {
	text-decoration: none;
	color: black;
}

.thumbnail {
	height: 55px;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.image-viewer {
	height: 78vh;
	width: 100%;
	margin: 16px auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.img-item1 {
	background-image: url(https://goo.gl/nFCbpm);
}

.img-item2 {
	background-image: url(https://goo.gl/kSqjFY);
}

.img-item3 {
	background-image: url(https://goo.gl/DfecKG);
}

.img-item4 {
	background-image: url(https://goo.gl/5yfC1P);
}